@model IEnumerable<APSI_ResevationMod.Models.ROOMS>

<p>
 
</p>
<table class="table">
    <tr>
        <th>
        
            @Html.DisplayNameFor(model => model.RoomCode)
        </th>
        
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomCode)
        </td>
        <td>
            @Html.ActionLink("Details", "RoomDetails", new { code = item.RoomCode }) |
        
            @Html.ActionLink("Reserve", "RoomReservation", new { code = item.RoomCode })
        
        </td>
    </tr>
    }

</table>
