@model IEnumerable<APSI_ResevationMod.Models.ROOMS>

<p>
 
</p>
<table class="table">
    <tr>
        <th>
        
            @Html.DisplayNameFor(model => model.RoomCode)
        </th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCode)
            </td>
            <td>
                @Html.ActionLink("Details", "RoomReservation", new { id = item.RoomCode })
            </td>
        </tr>
    }

</table>
